/* [Global CSS] */
/****************/

* {
    font-family: 'Cuprum', sans-serif;
}

/* [Index Styling] */

.topJumbotron {
    text-align:center;
    padding-top: 20px;
    font-size: 0px;
}
.navbar {
    background-color: #3C3C65;
}
.navbar-brand {
    font-size: 30px;
}
.submitButton {
    color: black;
    background-color:#F1BF31;
    border-color:black;
    border-width: 5px;
}

.submitJumbotron {
    border-width:20px;
    border-style:solid;
    border-color:#3C3C65;
    padding-bottom: 20px;
    background-image: url("letters.jpg");
}
/* .submitJumbotron::before {
    background-image: url("letters.jpg");
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    z-index: -2;
    opacity: 0.7;
    background-size: cover;
} */
.inputTextArea {
    border-width:20px;
    border-style:solid;
    border-color:#3C3C65;
    font-size: 22px;   
}
#logo {
    color: #F1BF31;
    font-size: 25px;
}
.result {
    border-width:20px;
    border-style:solid;
    border-color:#3C3C65;
    background-color:black;
    font-size: 22px;
    font-weight: bold;
    padding-bottom:30px;
    padding-top:30px;
}
.resultToggle {
    display: none;   
}

.resultGreen {
    color: #7FF216;
  
}
.resultRed {
    color: red;
}
.definition {
    font-size: 18px;
    font-weight: italic;
    color:white;
  
}
.x {
    display:block;
}
#def {
    color: #F1BF31;
}
